.userMain {
  display: flex;
  flex-direction: row;
  column-gap: 5rem;
  background-color: rgb(232, 226, 226, 0.2);
}

.userMainLeft {
  display: flex;
  flex-direction: column;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.05);
  row-gap: 5rem;
  width: 20rem;
  padding: 3rem;
  max-height: fit-content;
  z-index: 3;
}

.userMainRight {
  margin-bottom: 5rem;
}
@media (max-width: 1180px) {
  .userMainLeft {
    max-width: 16rem;
    padding: 1.5rem;

  }
  .userMain {
    column-gap: 2rem;
  }
}

@media(max-width : 700px){
  .userMainRight{
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
   }
   .userMain {
    column-gap: 1rem;
  }
 
}

@media(max-width : 600px){
  .userMainLeft {
    width:5rem ;
    padding: 1.5rem;
  }
}


@media(max-width : 470px){
  .userMainLeft {
    padding: 0rem;
    padding-left: 0.5rem;
    padding-top: 2rem;
 }
 .userMain{
  column-gap: 0rem;
 }
}


