.userToFollow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  column-gap: 0.5rem;
  height: 3.5rem;
  padding-right: 0.5rem;
  max-width: 18rem;
}
.userToFollowMain {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 0.5rem;
}
.userToFollowMainPhoto {
  border-radius: 50%;
  width: 2.5rem;
  overflow: hidden;
  height: 2.5rem;
}
.userToFollowMainPhoto img {
  width: 100%;
  height: auto;
}

.navProfilePhoto {
  border-radius: 50%;
  width: 3rem;
  overflow: hidden;
  height: 3rem;
}
.navProfilePhoto img {
  width: 100%;
  height: auto;
}

.userToFollowDescriptionFirst {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  font-weight: 600;
}
.userToFollowDescriptionSecond {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}
.userToFollowFollow {
  background-color: rgb(232, 226, 226);
  padding: 0.3rem;
  border-radius: 6px;
  font-size: 14px;
}
.userToFollowFollow:hover {
  background-color: rgb(232, 226, 226, 0.3);
  cursor: pointer;
}

@media (max-width: 1180px) {
  .userToFollow {
    flex-wrap: wrap;
    max-width: 14rem;
  }
}

@media(max-width : 700px){
  .userToFollow {
    max-width: 30rem;
  }
}