.userPost {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 45rem;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  margin: 2rem;
  
  padding: 1rem;
  row-gap: 1rem;
}
.userPostProfile {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 1rem;
}

.userPostProfilePhoto {
  border-radius: 50%;
  width: 3rem;
  overflow: hidden;
  height: 3rem;
}
.userPostProfilePhoto img {
    width: 100%;
    height: auto;
  }
.userPostProfilePeriod {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 4px;
  height: 4px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
 }
.userPostProfileName {
  font-weight: 548;
}


.userPostProfileTime {
  color: rgba(0, 0, 0, 0.4);
}
.userPostReact{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    justify-content: space-between;
}

.userPostMain{
    color: rgba(0, 0, 0, 0.7);
}

.userPostReact div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 0.6rem;
}

@media(max-width: 1000px){
  .userPost {
    max-width: 30rem;
  }
}