.mainConfigure {
  position: relative;
}
.mainLayoutNavigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 5rem;
  border-bottom: 1px solid rgb(0, 0, 0, 0.2);
  box-shadow: 1px 2px 4px rgb(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  width:  100%;
  background-color: white;
  z-index: 1;
}
/* .dropMain {
  display: none;
} */
.dropLogout {
  font-size: 0.9rem;
  padding: 1rem;
  right: 0;
  margin-right: 2rem;
  width: 12rem;
  position: fixed;
  border-radius: 12px;
  top: 5rem;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
  background-color: rgba(242, 247, 245, 0.8);
  z-index: 1;
}

.mainPosition {
  position: absolute;
  z-index: 0;
  top: 5rem;
  width: 100%;
  min-height: 77vh;
}
.mainFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  
  bottom: 0;
  z-index: 5;
  background-color: black;

  width: 100%;

  border-top: 1px solid rgb(0, 0, 0, 0.2);
  background-color: white;
  min-height: 5rem;
}


@media(max-width : 640px){
  .dropMain {
    position: fixed;
    top: 5rem;
    width: 100%;
    background-color: rgba(242, 247, 245, 0.8);
    z-index: 1;
  }
}