.navProfile {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 0.5rem;
height :3.5rem ;
padding:0 0.5rem ;
}
.navProfilePhoto {
  border-radius: 50%;
  width: 3rem;
  overflow: hidden;
  height: 3rem;
}
.navProfilePhoto img {
  width: 100%;
  height: auto;
}
.navProfileUserName{
    font-weight: 548;
}
.navProfileDrop{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
} 
.navProfile:hover{
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 12px;
}