.logInMainTop {
  display: flex;
  flex-direction: column;
  row-gap: 5rem;
  margin-top: 3rem;
}
.logInMain {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 5rem;
  row-gap: 3rem;
  justify-content: center;
  align-items: center;
}
.logInMainTitle {
  font-size: 1.5rem;
  font-weight: 500;
}
.logInMainRight {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.dontHaveAccount {
  font-size: 0.9rem;
}
.dontHaveAccount a {
  text-decoration: none;
  color: #0fa958;
  font-weight: bold;
}
.logInMainLeft img {
  width: 30rem;
}

@media (max-width: 500px) {
  .logInMainLeft img {
    width: 25rem;
  }
}
@media (max-width: 420px) {
  .logInMainLeft img {
    width: 20rem;
  }
}

@media (max-width: 340px) {
  .logInMainLeft img {
    width: 17rem;
  }
}
